.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #080808 !important;
    height: auto;
    color: white;

}

.meu_perfil{
    margin-top: 5rem;
    font-size: 2em;
    font-weight: 500;
}

.div_perfil{
    display: flex;
    color: white;
    display: flex;
    gap: 1rem;
    padding: 3rem;
}

.div_perfil img{
    border-radius: 20%;
    width: 100%;
    height: 100%;

}

.div_imagem{
    max-width: 200px;
    height: 200px;
}

.div_campo{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .4rem;

    
}

.div_campo p{
    font-weight: 300;
}