.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(74, 213, 255, 0.904);
    height: 80px;
    z-index: 2;
}

ul{
    list-style: none;
    margin-right: 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    z-index: 2;
 
}

li{
    margin-left: 30px;
    color: white;
    z-index: 2;
   
}

li a{
    text-decoration: none;

}

h2{
    color: beige;
    z-index: 2;
}