.btn_primary{
    background-color: rgba(31, 192, 241, 0.836);
   padding: .6rem 3rem ;
}

.btn_second{
    border:2px solid rgba(74, 213, 255, 0.904);
    background-color: transparent;
    padding: .6rem 3rem ;
}