.copyright{
    background-color: rgba(31, 192, 241, 0.836);
    padding: 1rem 1rem;
    font-family: "Dancing Script", cursive;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}