.footer {
    background-color: #000000;
    color: #fff;
    margin-top: 5rem;
    box-shadow: rgb(66, 151, 241) 0px 2px 8px 0px;
  }
  
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 70px 40px 40px;
    margin: 0 auto;
  }
  
.logoArea {
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
  
.logoArea h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.logoArea p {
    font-size: 16px;
    color: #bbb;
  }
  
.container_info {
    display: flex;
    gap: 50px;
    flex: 3 1 500px;
    flex-wrap: wrap;
  }
  
.container_info div {
    min-width: 200px;
  }
  
.ul_info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  
  }
  
.ul_info li {
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    
  
  }

#contato{
    margin-top: 10px;
    gap: 10px;
}
  
.ul_info a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
    
  }

.logo{
    font-weight: 700;
}
  
.ul_info a:hover {
    color: #fff;
  }
  
hr{
    background-color: aqua;
}